In [1]:
import pandas as pd

df = pd.read_csv("data/usdjpy_2020.csv")
df.head()

                  time     open     high      low    close  volume
0  2020-01-01 00:12:00  108.609  108.609  108.609  108.609     1.0
1  2020-01-01 23:50:00  108.609  108.609  108.609  108.609     1.0
2  2020-01-02 00:12:00  108.609  108.609  108.609  108.609     1.0
3  2020-01-02 09:00:00  108.692  108.701  108.692  108.701    89.0
4  2020-01-02 09:01:00  108.701  108.707  108.699  108.703   103.0